<div class="col-md-6 col-md-offset-1 preview-standard">
	<div class="row">
		<div class="col-md-5">
				<h1>{{name}}</h1>
				<h3>{{speciality}}</h3>
				<p>{{bio}}</p>
				<% if doctor != nil %>
					<%= image_tag doctor.image_url %>
				<% else %>
					<img style="display:none;" src="" height="200" alt="Image preview...">
				<% end %>

		</div>
	</div> <!-- row -->
</div>