<div class="col-md-6 col-md-offset-1 preview-standard">
	<div class="row">
		<div class="col-md-5">
			<table>
				<tr>
					<td>Monday</td>
					<td>{{monday}}</td>
				</tr>
				<tr>
					<td>Tuesday</td>
					<td>{{tuesday}}</td>
				</tr>
				<tr>
					<td>Wednesday</td>
					<td>{{wednesday}}</td>
				</tr>
				<tr>
					<td>Thrusday</td>
					<td>{{thrusday}}</td>
				</tr>
				<tr>
					<td>Friday</td>
					<td>{{friday}}</td>
				</tr>
				<tr>
					<td>Saturday</td>
					<td>{{saturday}}</td>
				</tr>
				<tr>
					<td>Sunday</td>
					<td>{{sunday}}</td>
				</tr>
			</table>

		</div>
	</div> <!-- row -->
</div>