<div class="col-md-7 preview-standard">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 hours-table">
			<table>
				<tr>
					<td><h3>Monday</h3></td>
					<td><h3>{{monday}}</h3></td>
				</tr>
				<tr>
					<td><h3>Tuesday</h3></td>
					<td><h3>{{tuesday}}</h3></td>
				</tr>
				<tr>
					<td><h3>Wednesday</h3></td>
					<td><h3>{{wednesday}}</h3></td>
				</tr>
				<tr>
					<td><h3>Thrusday</h3></td>
					<td><h3>{{thursday}}</h3></td>
				</tr>
				<tr>
					<td><h3>Friday</h3></td>
					<td><h3>{{friday}}</h3></td>
				</tr>
				<tr>
					<td><h3>Saturday</h3></td>
					<td><h3>{{saturday}}</h3></td>
				</tr>
				<tr>
					<td><h3>Sunday</h3></td>
					<td><h3>{{sunday}}</h3></td>
				</tr>
			</table>

		</div>
	</div> <!-- row -->
</div>