<div class="col-md-7 preview-standard">
	<div class="row" id="heading">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1><span ng-bind=<%= heading %>></span></h1>	
		</div>
	</div>
	<div class="row">
		<p><span ng-bind=<%= message %>></span></p>
	</div>
</div>