<div class="col-md-9 preview-reminder">
	<div class="row" id="heading">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1><span ng-bind=<%= heading %>></span></h1>	
		</div>
	</div>
	<div class="row" id="message">
		<div class="col-md-10 col-md-offset-1 text-center">
			<p><span ng-bind=<%= message %>></span></p>
		</div>
	</div>
</div>