<div class="col-md-6 col-md-offcollection-1 preview-standard">
	<div class="row">
		<div class="col-md-5">
				<h1>{{name}}</h1>
				<h3>{{speciality}}</h3>
				<p>{{bio}}</p>
				<img src="" height="200" alt="Image preview...">

		</div>
	</div> <!-- row -->
</div>