@import url(http://fonts.googleapis.com/css?family=Varela);
@import url(http://fonts.googleapis.com/css?family=Cinzel:900);

body{
	background-color: #054F99;
	height:100%;
}

.container{
	border-style: solid;
	border-color: gray;
	border-radius: 12px;
	margin-bottom: 10px;
	background-color: white;
	padding-bottom: 100px;
}

#login-box{
	padding-bottom: 40px;
	margin-top: 140px;
}

#login-box .email{
	margin-bottom: 2px;
}

.navbar-brand img{
	margin-top: -11px;
}

.navbar-default{
	background-color: white;
	border-radius: 0px;
}

#nav-heading{
	margin-top: 3px;
	padding-top: 2px;
	font-family: 'Cinzel', serif;
	color: #6F2799;
	font-weight: 900;
}

.form-group{
	margin-right: 20px;
}

.temp{
	border-color: red;
	border-style: solid; 
}

.tab-content{
	padding: 10px;
}

#doctor_page{
	padding-top: 50px;
}

.doctor_forms{
	margin-bottom: 8px;
}

#doctor-box{
	margin-top: 120px;
}

#doctor-image img{
	width: 275px;
	height: 350px;
	margin-top: 120px;
}

.doctor-text{
	color: white;
	font-family: "Helvetica";
	
}

#doctor-name{
	font-weight: bold;
	font-size: 40px;
	color: #D9B2FB;
}

#doctor-bio{

}

.hours-table{
	margin-top: 100px;
}

td h3{
	margin-bottom: 0px;
	margin-top: 10px; 
	font-size: 300%;
}

tr td:first-child{
	font-family: "Courier";
	padding-right: 40px;
	color: #D9B2FB;
}

tr td:nth-child(2){
	font-family: "Helvetica";
	color: #FFFFFF;
	width: 600px;
}


.preview-standard{
	background-image: url('/assets/CMH_template001.jpg');
	background-size: 100% 100%;	
	width: 800px;
	height: 550px;
}

.preview-standard-reminder{
	background-size: 100% 100%;
	background-image: url('/assets/reminder_001.jpg');
	width: 800px;
	height: 550px;
}

#heading{
	margin-top: 80px;
	color: #D9B2FB;
	font-size: 300%;
}

#message{
	font-size: 250%;
	color: white;
}