<% i = 2 %>
<div class="row">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#1">1</a></li>
		<% 9.times do %>
			<li><a data-toggle="tab" href="#<%= i %>"><%= i %></a></li>
			<% i += 1 %>
		<% end %>
	</ul>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="1">
		1
	</div>
	<% j = 2 %>
	<% 9.times do %>
		<div class="tab-pane" id="<%= j %>">
			<%= j %>
			<% j += 1 %>
		</div>
	<% end %>
</div>